.menu-toggle-bar {
	display: block;
	position: absolute;
	width: 20px;
	height: 2px;
	border-radius: 4px;
	transition: all 0.3s ease;
}

.menu-toggle-bar.menu-toggle-bar--top {
	transform: translate(0, -6px);
}

.menu-toggle-bar.menu-toggle-bar--bottom {
	transform: translate(0, 6px);
}

.sidebar-open .menu-toggle-bar.menu-toggle-bar--top {
	transform: translate(0, 0) rotate(45deg);
}

.sidebar-open .menu-toggle-bar.menu-toggle-bar--middle {
	opacity: 0;
}

.sidebar-open .menu-toggle-bar.menu-toggle-bar--bottom {
	transform: translate(0, 0) rotate(-45deg);
}
